{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Transfer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <header>
        <div class="nav">
            <div class="N">
                <h3>Folly's Banking Website</h3>
            </div>
            <div class="link">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            <div class="login-form">
                <h2>Transfer Money Now</h2>
                {% for m in messages %}
                <h5>{{m}}</h5>
                {% endfor %}
                <label>Enter Account to Transfer To:</label><br>
                <input name="acct" type="number"><br>
                <label>Enter Amount to Transfer:</label><br>
                <input name="amount" type="number"><br>
                <label>Enter Your Pin:</label><br>
                <input name="pin" type="password"><br>
                <button>Transfer</button>
            </div>
        </form>
    </main>
</body>

</html>